* {
  font-family: "DM sans", sans-serif;
}

h1 {
  font-weight: bold;
}

.button {
  background: #333;
  margin-top: 10px;
  border-radius: 3px;
}

.container {
  margin: 0 auto;
  margin-top: 40px;
  padding: 1rem 4rem;
  border: 1px solid #333;
  border-radius: 3px;
}

ion-label {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin: 10px 0 10px 5px;
}

.all {
  display: flex;
  margin: 8rem 7rem;
}
